@import "tailwindcss";

:root {
  /* ==========================
      LIGHT THEME
  ========================== */

  --background: #f5f2f8;
  --surface: #ffffff;

  --foreground: #2d1a3e;
  --muted-foreground: #6a5482;

  --primary: #663399;
  --primary-foreground: #ffffff;

  --border: #dcd6e3;

  --ring: #663399;
}

.dark {
  /* ==========================
      DARK THEME
  ========================== */

  --background: #180b26;
  --surface: #2c1940;

  --foreground: #e6dff2;
  --muted-foreground: #b3a8c9;

  --primary: #8a2be2;
  --primary-foreground: #ffffff;

  --border: #4b3463;

  --ring: #8a2be2;
}

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);

  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-border: var(--border);

  --color-ring: var(--ring);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  border-color: var(--border);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
  min-height: 100vh;
  transition:
    background-color 250ms ease,
    color 250ms ease,
    border-color 250ms ease;
}